.RightSideContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 70%;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

@media only screen and (max-width: 800px) {
    .RightSideContainer {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        box-sizing: border-box;
    }
  }